<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xmlns:sec="http://cxf.apache.org/configuration/security"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://cxf.apache.org/jaxws
          http://cxf.apache.org/schemas/jaxws.xsd
          http://cxf.apache.org/core
          http://cxf.apache.org/schemas/core.xsd
          http://cxf.apache.org/transports/http/configuration
          http://cxf.apache.org/schemas/configuration/http-conf.xsd
          http://cxf.apache.org/configuration/security
          http://cxf.apache.org/schemas/configuration/security.xsd
">

    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>

    <!--
        <cxf:server>
            <beans>
                <bean class=""></bean>
            </beans>
        </cxf:server>
    -->

    <http-conf:conduit name="http://ldb-al-preprod.kcell.kz/api/billing/.*">
        <http-conf:authorization>
            <sec:UserName>bonus_cmdr_pre</sec:UserName>
            <sec:Password>2YM7aMmg</sec:Password>
            <sec:AuthorizationType>Basic</sec:AuthorizationType>
        </http-conf:authorization>
    </http-conf:conduit>

    <http-conf:conduit name="http://ldb-kms.kcell.kz/coda_axon/boss.*">
        <http-conf:authorization>
            <sec:UserName>bonus_cmdr_coda_ui</sec:UserName>
            <sec:Password></sec:Password>
            <sec:AuthorizationType>Basic</sec:AuthorizationType>
        </http-conf:authorization>
    </http-conf:conduit>

    <jaxws:client id="authService"
                  serviceClass="kz.kcell.app.bonus_cmdr.ws.stub.AuthService"
                  address="http://localhost:8080/services/auth?wsdl"
    >
    </jaxws:client>

    <jaxws:client id="companyService"
                  serviceClass="kz.kcell.app.bonus_cmdr.ws.stub.CompanyService"
                  address="http://localhost:8080/services/company?wsdl"
    >
    </jaxws:client>

    <bean id="logInbound" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
    <bean id="logOutbound" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>

</beans>